# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries for helper tools
helper_tools/enumerate_authors
helper_tools/summarise
helper_tools/tokenizer
helper_tools/header
helper_tools/test_load_xapian_database
helper_tools/crawl
helper_tools/equivalent_names
helper_tools/tree_maker
helper_tools/index_for_xapian
helper_tools/log.txt

# Specific files
all_cxx_papers.tar.zst
build/LinuxDebug/
build/bin/
build/cppcheck-main.zip
build/cppcheck-main/
build/dir_cppcheck_html/
build/dir_cppcheck_work/
build/xapian/
database_xapian_for_all_cxx_papers
database_xapian_multiple_files/
main_program/Linux/
papers/
sample_ribbon/
sample_splitter/
sample_wxwebview/
xapian-core-1.4.29.tar.xz

# Cached files from internet
helper_tools/*.htm
helper_tools/*.html

